

#aboutMain {
//   margin-top: -5px;
  float: left;
  background-color: white;
  width: 100%;

  @media (min-width: 600px) {
    height: 100%;
    width: 70%;
    }

  p {
    padding-top: 1rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
    width: calc(100% - 50px);
    display: block;
  margin: 0 auto;
    font-size: 1em;
    text-align: justify;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;


    @media (min-width: 600px) {
      font-size: 1.1em;
    }

    }

}

ul.nav.nav-tabs {
    margin-left: 25px;
}


h2#aboutHeading {
    margin-top: 3rem;
    margin-left: 25px;
    font-family: Maitree, serif;
    color: $orange;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: $orange;
    color: white;
    font-family: Open Sans, sans-serif;
}

.nav-tabs .nav-link {
    font-family: Open Sans, sans-serif;
    font-size: 1.2rem;

    @media (min-width: 600px) {
      font-size: 1.5rem;
    }
}

.tab-content > .active {
    margin: 3rem 3rem 6rem 3rem;
    display: block;
    text-align: justify;
}

#aboutPageList {
    list-style: none !important;
    padding: 0; 
    margin: 0;
    text-align: left;
  }
  
  .aboutPageItem {
    padding-left: 3em; 
    text-indent: -.7em;
    font-size: 1em;
    margin-top: .8em;

    @media (min-width: 600px) {
        font-size: 1.1em;
      }
  }
  
  .aboutPageItem::before {
    content: "• ";
    color: $orange;
  }

  .testimonialName {
    font-weight: 800;
    color: $orange;
  }

