

#processMain {
  margin-top: -5px;
  float: left;
  background-color: white;
  width: 100%;

  @media (min-width: 600px) {
    height: 100%;
    width: 70%;
    }

  p {
    padding-top: 1rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
    width: calc(100% - 50px);
    display: block;
  margin: 0 auto;
    font-size: .9em;
    text-align: justify;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;


    @media (min-width: 600px) {
      font-size: 1.1em;
    }

    }

    .nav-tabs .nav-item .nav-link.active {
    background-color: $blue;
    color: white;
    font-family: Open Sans, sans-serif;
}

.nav-tabs .nav-link {
    font-family: Open Sans, sans-serif;
    font-size: 1.2rem;

    @media (min-width: 600px) {
      font-size: 1.5rem;
    }
}

.tab-content > .active {
    margin: 3rem 3rem 6rem 3rem;
    display: block;
    text-align: justify;
}

}

ul.nav.nav-tabs {
    margin-left: 25px;
}


h2#processHeading {
    margin-top: 3rem;
    margin-left: 25px;
    font-family: Maitree, serif;
    color: $blue;
}

